.bg-danger{
    background: var(--danger);
}

.bg-warning{
    background: var(--warning);
}

.bg-success{
    background: var(--success);
}

.text-center{
    text-align: center;
}
.text-vertical-middle{
    vertical-align: middle;
}
.text-muted{
    content: var(--text-muted);
}
.text-title{
    font-weight: 600;
    font-size: var(--font-20);
}