
/* This code only for skeleton template dashboard
   Recommend way to separate every page at dashboard for easy maintain
*/

.dashboard-container{
    display: grid;
    grid-template-columns: auto 1fr;

    height: 100vh;
    width: 100vw;
}
svg{
    flex-shrink: 0;
    width: var(--icon);
    height: var(--icon);
}
path{
    fill: var(--text);
}
/*sidebar*/
nav.dashboard-sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    background-color: var(--bg);
    border-right: 1px solid var(--border);

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}
/* when toggle clicked */
.dashboard-sidebar.active{
    width: 50px;

    .header .logo{
        display: none;
    }
    ul li a span{
        visibility: hidden;
        width: 0;
    }
}

.dashboard-sidebar .header{
    min-height: fit-content;
    padding: var(--spacing-16) var(--spacing-12);
    height: 4rem;

    .logo{
        font-weight: 600;
        font-size: var(--font-20);
    }
}
.dashboard-sidebar .menu{
    overflow-y: auto;

    ul{
        display: flex;
        flex-direction: column;
    }
    ul li a:hover{
        background: var(--bg-light);
    }
    ul li a{
        padding: var(--spacing-8) var(--spacing-8);
        margin-bottom: var(--spacing-4);
        display: flex;
        gap: 10px;
        align-items: center;
        text-decoration: none;
        transition: all 0.2s;
        overflow: hidden;
        cursor: pointer;
    }
}


/*content*/
.dashboard-content{
    overflow-x: hidden;
}

.dashboard-content header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: fit-content;
    padding: var(--spacing-16) var(--spacing-12);
    border-bottom: 1px solid var(--border);

}
.dashboard-content header{
    .left{
        .toggle-sidebar{
            padding: var(--spacing-4);
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .toggle-sidebar:hover {
            border-radius: var(--border-radius-round);
            background: var(--bg-light);
        }
    }
}

.dashboard-content header {
    .right{
        a{
            padding: var(--spacing-4);
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        a:hover{
            border-radius: var(--border-radius-round);
            background: var(--bg-light);
        }
    }
}

.dashboard-content main{
    min-height: 100%;
    overflow-y: auto;
    background-color: color-mix(in srgb, var(--bg) 95%, white);
    padding: var(--spacing-20);
}