/* Base button */
.button {
    cursor: pointer;
    display: inline-block;

    font-family: var(--font-style);
    font-size: var(--font-16);
    font-weight: 700;
    text-align: center;

    padding: var(--spacing-8) var(--spacing-12);
    height: fit-content;
    width: fit-content;

    border-radius: var(--border-radius-sharp);
    transition: all 0.2s ease-in-out;
}

/* Primary */
.button-primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--text);
}
.button-primary:hover,
.button-primary:focus {
    filter: brightness(120%);
}

/* Outline */
.button-secondary {
    background-color: transparent;
    color: var(--text);
    border: 1px solid var(--text);
}
.button-secondary:hover,
.button-secondary:focus {
    filter: brightness(120%);
}
