button{
    color: inherit;
    font-size: inherit;
}
/* Base button */
.button {
    cursor: pointer;
    display: inline-block;

    font-family: var(--font-style);
    font-size: var(--font-16);
    font-weight: 700;
    text-align: center;

    padding: var(--spacing-8) var(--spacing-16);
    height: fit-content;
    width: fit-content;

    border-radius: var(--border-radius-sharp);
    transition: all 0.2s ease-in-out;
}

/* Primary */
.button-primary {
    background-color: var(--primary);
    color: var(--text);
}
.button-primary:hover,
.button-primary:focus {
    filter: brightness(120%);
}

.button-light{
    background-color: color-mix(in srgb, var(--primary) 20%, transparent);
    color: var(--primary);
}
.button-light:hover,
.button-light:focus {
    filter: brightness(120%);
}
/* Outline */
.button-secondary {
    background-color: transparent;
    color: var(--text);
    border: 1px solid var(--text);
}
.button-secondary:hover,
.button-secondary:focus {
    filter: brightness(120%);
}

.button-small{
    padding: var(--spacing-4) var(--spacing-8);
}

.button-close{
    cursor: pointer;
    color: var(--text-muted);
    font-size: var(--font-20);
}