img{
    max-width: 100%;
    height: auto;
}

figure {
    width: 50%;
    margin: 0 auto;
    text-align: center;

    img {
        width: 100%;
        height: auto;
        border-radius: var(--border-radius-round);
        display: block;
    }

    figcaption {
        text-align: center;
        font-size: var(--font-12);
        margin-top: 8px;
    }
}