img{
    max-width: 100%;
    height: auto;
}

figure{
    min-height: 5rem;
    max-height: 10rem;
    min-width: 10rem;
    max-width: 15rem;

    .container-image{
        min-height: 5rem;
    }
    img{
        border-radius: var(--border-radius-round);
    }
    figcaption{
        text-align: center;
        font-size: var(--font-12);
    }
}