.table-wrapper {
    overflow-x: scroll;
}
.table-wrapper::-webkit-scrollbar{
    height: 8px;
    background-color: transparent;
}
.table-wrapper::-webkit-scrollbar-thumb{
    background-color: var(--text-muted);
}
.table-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--text-muted);
    border-radius: 4px;
}
table {
    min-width: 0;
}

th, td {
    padding: var(--spacing-8) var(--spacing-16);
    border-color: var(--border);
    border-width: 1px;
    border-bottom-style: solid;
}

th {
    font-weight: 500;
    text-align: left;
    color: var(--text-muted);
}

tbody tr:hover{
    background: var(--bg-light);
}

td{
    min-width: 7rem;
}
thead th, thead td {
    border-width: 2px;
}

tfoot th, tfoot td {
    border-width: 2px;
    border-bottom-style: none;
    border-top-style: solid;
}
