/*custom color svg*/
/* color of svg */
.ql-snow .ql-stroke {
    fill: none;
    stroke: var(--text-muted);
    stroke-width: 2;
}
.ql-snow .ql-fill {
    fill: var(--text-muted);
}
.ql-snow.ql-toolbar button:hover .ql-fill{
    fill: var(--text);
}
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill{
    fill: var(--text);
}
.ql-snow.ql-toolbar button:hover .ql-stroke{
    stroke: var(--text);
}
.ql-container {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: var(--font-16);
    height: 100%;
    margin: 0;
    position: relative;
}